html, body, #root {
    height: fit-content;
}

body {
    color: #676766;
}

iframe {
    max-width: 100%;
}

#bodyDiv img {
    max-width: 100%;
}

a:hover {
    color: #e5c1c1;
}

table caption {
    font-size: 14px !important;
}

.ss_media ul {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ss_media ul li {
    width: 100%;
}

#bodyDiv ul:last-of-type {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#bodyDiv ul:last-of-type li {
    width: 100%;
}

.cr_toc ul {
    display: block !important;
}

.cwusvg, .cwudiv, .cwudiv #instagram-embed-0, .cwudiv .su-accordion, 
#bodyDiv .color-scheme-general .color-scheme-section img, .mblog-opening .thetop, 
#bodyDiv .fea-img, #bodyDiv .latticeimg, #bodyDiv .seasaltcompost img, .wp-image-8790, #bodyDiv .blogcolorlist,
#bodyDiv .neutralColorsImg {
    margin-bottom: .5rem !important;
}

.cwudiv h4 {
    margin-bottom: .5rem !important;
}

.cwudiv .su-spoiler-title h4 {
    margin-bottom: 0px !important;
}

.su-spoiler-content {
    display: none;
}

.su-spoiler-title {
    padding: 7px 0px 7px 7px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.su-spoiler-title h4 {
    font-size: 20px;
    line-height: 2rem !important;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
}

#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .anacs ul,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .monocs ul,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .trics ul,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .compcs ul,
#bodyDiv .cwudiv .cwunew ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .anacs ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .monocs ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .trics ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .compcs ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .anacs ul li,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .monocs ul li,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .trics ul li,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .compcs ul li,
#bodyDiv .cwudiv .cwunew ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .anacs ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .monocs ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .trics ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .compcs ul li {
    width: 45%;
    padding: 0;
    margin: 5px;
    border: 1px solid black;
}

.anacs, .monocs, .trics, .compcs {
    margin-bottom: 0.5rem;
}

.anacs h5, .monocs h5, .trics h5, .compcs h5 {
    font-weight: bold;
}

.anacs h2, .monocs h2, .trics h2, .compcs h2 {
    font-size: 16px;
}

.compcs ul {
    padding-bottom: 0.5rem;
}

#bodyDiv .wp-caption-text {
    font-size: 14px;
    line-height: 1.5rem;
    text-align: center;
}

#bodyDiv .cwudiv .pglist {
    display: block;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.color-scheme-section:nth-of-type(3) {
    margin-bottom: .5rem;
}

.newAdDivClass {
    justify-content: center;
    margin-bottom: 1rem;
    border: 0.1rem solid rgb(103, 103, 102);
    box-shadow: rgb(103, 103, 102) 1px 4px 9px 1px;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    font-size: 14px;
}

.hey-laura-general .thetop, #bodyDiv .main-blog ol {
    text-align: left;
    line-height: 2rem;
    padding: 0 20px 0 20px;
    list-style: decimal;
}

.qamain, .qanda {
    box-shadow: 2px 2px 10px #676766;
    -webkit-box-shadow: 2px 2px 10px #676766;
    -moz-box-shadow: 2px 2px 10px #676766;
    padding: 10px 20px 10px 20px;
    margin-bottom: 26px;
}

.questions blockquote, .question blockquote {
    padding: 0 15px 0 15px;
    border-radius: 25px;
}

blockquote {
    background-color: #f5f5f5;
}

#bodyDiv #gallery-2, #bodyDiv #gallery-6, #bodyDiv #gallery-10, 
#bodyDiv #gallery-11, #bodyDiv #gallery-12  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#bodyDiv #gallery-2 .gallery-item, #bodyDiv #gallery-6 .gallery-item, #bodyDiv #gallery-10 .gallery-item, 
#bodyDiv #gallery-11 .gallery-item, #bodyDiv #gallery-12 .gallery-item {
    margin-top: 0px;
}

#bodyDiv #gallery-10 .gallery-item, #bodyDiv #gallery-11 .gallery-item, #bodyDiv #gallery-12 .gallery-item {
    width: 50%;
}

#bodyDiv .color_example ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#bodyDiv .color_example ul li {
    width: 50%;
}

#bodyDiv .color_example ul li:nth-of-type(1), #bodyDiv .color_example ul li:nth-of-type(2) {
    margin-bottom: 0.5rem;
} 

#bodyDiv .latticeimgswatch {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.wp-image-15196, .wp-image-15198, .starpic, .wp-image-11414, .wp-image-11412, .wp-image-11410, 
.wp-image-11411, #bodyDiv .Limoncompost img, #bodyDiv .caviarcompost img, #bodyDiv .honeybeespost img, .wp-image-9849,
.wp-image-9850, #attachment_9860 {
    margin-top: 0.5rem;
}

#bodyDiv .honeybeespost img {
    margin-bottom: 0.5rem;
}

#bodyDiv .caviarcompost h3, #bodyDiv .honeybeespost h3, #bodyDiv #attachment_29004 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bodyDiv .blogcolorlist {
    display: block !important;
}