html, body, #root {
    height: fit-content;
}

body {
    color: #676766;
}

iframe {
    max-width: 100%;
}

#bodyDiv img {
    max-width: 100%;
}

a:hover {
    color: #e5c1c1;
}

table caption {
    font-size: 14px !important;
}

.ss_media ul {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ss_media ul li {
    width: 100%;
}

#bodyDiv ul:last-of-type {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#bodyDiv ul:last-of-type li {
    width: 100%;
}

.cr_toc ul {
    display: block !important;
}

.cwusvg, .cwudiv, .cwudiv #instagram-embed-0, .cwudiv .su-accordion, 
#bodyDiv .color-scheme-general .color-scheme-section img, .mblog-opening .thetop {
    margin-bottom: .5rem !important;
}

.cwudiv h4 {
    margin-bottom: .5rem !important;
}

.cwudiv .su-spoiler-title h4 {
    margin-bottom: 0px !important;
}

.su-spoiler-content {
    display: none;
}

.su-spoiler-title {
    padding: 7px 0px 7px 7px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.su-spoiler-title h4 {
    font-size: 20px;
    line-height: 2rem !important;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
}

#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .anacs ul,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .monocs ul,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .trics ul,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .compcs ul,
#bodyDiv .cwudiv .cwunew ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .anacs ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .monocs ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .trics ul,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .compcs ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .anacs ul li,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .monocs ul li,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .trics ul li,
#bodyDiv .cwudiv .su-accordion .su-spoiler .su-spoiler-content .cwunew .compcs ul li,
#bodyDiv .cwudiv .cwunew ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .anacs ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .monocs ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .trics ul li,
#bodyDiv .color-scheme-general .color-scheme-section .cwunew .compcs ul li {
    width: 45%;
    padding: 0;
    margin: 5px;
    border: 1px solid black;
}

.anacs, .monocs, .trics, .compcs {
    margin-bottom: 0.5rem;
}

.anacs h5, .monocs h5, .trics h5, .compcs h5 {
    font-weight: bold;
}

.anacs h2, .monocs h2, .trics h2, .compcs h2 {
    font-size: 16px;
}

.compcs ul {
    padding-bottom: 0.5rem;
}

#bodyDiv .cwudiv .wp-caption-text, #bodyDiv .color-scheme-general .color-scheme-section .wp-caption .wp-caption-text {
    font-size: 14px;
    line-height: 1.5rem;
    text-align: center;
}

#bodyDiv .cwudiv .pglist {
    display: block;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.color-scheme-section:nth-of-type(3) {
    margin-bottom: .5rem;
}
